footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
}